.wrapper
  = render 'shared/chat-menu'
  .chat-main
    .chat-main__header
      %h1
        = @group.name
      %h2
        Member :
        - @group.users.each do |user|
          = user.name
      = button_to 'Edit', edit_group_path(@group), class: 'edit-btn', method: :get
    = render 'shared/chat-main'
