.wrapper
  = render 'shared/chat-menu'
  .chat-main
    .chat-main__header
      %h1
        = @group.name
      %h2
        Member :
        - @users.each do |user|
          = user.name
      = button_to 'Edit', "/groups/#{@group.id}/edit", class: 'edit-btn', method: :get
    = render 'shared/chat-main'
