.chat-main
  .chat-main__header
    %h1
      = @group.name
    %h2
      Member :
      = render partial: "shared/group_user", collection: @group.users
    = button_to 'Edit', edit_group_path(@group), class: 'edit-btn', method: :get
  %ul.chat-main__contents
    %li.message
      = render partial: "shared/group_message", collection: @group.messages, as: :message
  .chat-main__inputarea
    .textarea
      = form_for [@group, @message], html: { id: 'message_form' } do |f|
        = f.text_field :body, class: 'text'
        = label_tag 'message[image]', '', class: 'img-btn fa-image'
        = f.file_field :image, style: 'display:none'
        = f.submit "Send", class: 'send-btn'
